.container {
  width: 100%;
  background: #fff;
  height: 60px;
  //display: block;
}

.header {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.headerButton {
  margin-right: 10px;
}

@media screen and (min-width: 0) {
  .header {
    padding: 0 16px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 0 60px;
  }
}
